<div class="row">
  <div class="col-xs-2">
    <%= render '/components/skill_level' %>
    <%= render '/components/language_dropdown' %>
    <%= render '/components/price' %>
    <%= render '/components/tags' %>
  </div>
  <div class="col-xs-8 home-feed" id="container_posts">
    <%= render '/components/posts_feed' %>
    <%= render'/components/back_to_the_top' %>
  </div>
  <div class="col-xs-2">
    <%= render '/components/consider_following' %>
    <%= render'/components/links_panel' %>
  </div>
</div>

<%= render '/components/post_form_modal' %>
