<!-- begin row 2. -->
<div class="row">
  <div class="col-xs-3">
    <div class="col-sm-12">
      <%= image_tag(@profile_image, class: "rounded-img", width: "100%") %>
      <div class="panel panel-default profile-info-panel">
        <div class="panel-body">
          <h3><%= User.find_by(:id => params[:id]).name %></h3>
          <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
            <h6 style="color: #0084B4; font-size: 200%;"><%= @posts.count %></h6>
          </div>
          <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
            <h6 style="color: #0084B4; font-size: 200%;"><%= @followers_count %></h6>
          </div>
          <%= render '/components/follow_button', :user => @user %>
          <p>
            Just a description
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 profile-posts">
    <%= render '/components/posts_feed' %>
    <%= render'/components/back_to_the_top' %>
  </div>
  <div class="col-xs-3">
    <%= render '/components/consider_following' %>
    <%= render '/components/trends' %>
  </div>
</div>

