<!-- begin row 2. -->
<div class="row">
  <div class="col-xs-3">
    <div class="col-sm-12">
      <%= image_tag(@profile_image, class: "rounded-img", width: "100%") %>
      <div class="panel panel-default profile-info-panel">
        <div class="panel-body">
          <%= render '/components/profile_page_profile_panel' %>
          <br>
          <%= render '/components/skill_level' %>
          <%= render '/components/language_dropdown' %>
          <%= render '/components/price' %>
          <%= render '/components/tags' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-7 profile-posts" id="container_posts">
    <%= render '/components/posts_feed' %>
    <%= render'/components/back_to_the_top' %>
  </div>
  <div class="col-xs-2">
    <%= render '/components/consider_following' %>
    <%= render '/components/trends' %>
  </div>
</div>

<%= render '/components/post_form_modal' %>
