<div class="row">
  <div class="col-xs-2">
    <%= render '/components/trends' %>
    <%= render'/components/consider_following' %>
    <%= render'/components/links_panel' %>
  </div>
  <div class="col-xs-10">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2 style="font-wight: bold; opacity:0.85;">Add Post</h2>
      </div>
    </div>
    <%= render'/components/post_form' %>
  </div>
</div>
    <%= render '/components/post_form' %>
