<div class="row">
  <div class="col-xs-3">
    <%= render '/components/trends' %>
  </div>
  <div class="col-xs-6">
    <br>
    <%= render'/components/post_panel' %>
    <%= render'/components/description_panel' %>
  </div>
  <div class="col-xs-3">
    <%= render'/components/consider_following' %>
    <%= render'/components/links_panel' %>
  </div>
</div>
