<div class="row">
  <div class="col-xs-2">
    <%= render '/components/trends' %>
    <%= render'/components/consider_following' %>
    <%= render'/components/links_panel' %>
  </div>
  <div class="col-xs-10">
    <br>
    <%= render'/components/post_panel' %>
    <%= render'/components/description_panel' %>
  </div>
</div>
    <%= render '/components/post_form' %>
